/BE_API/node_modules
/BE_API/public/hot
/BE_API/storage
/BE_API/public/storage
/BE_API/storage/*.key
/BE_API/vendor
/BE_API/.env
/BE_API/.env.backup
/BE_API/.phpunit.result.cache
/BE_API/docker-compose.override.yml
/BE_API/Homestead.json
/BE_API/Homestead.yaml
/BE_API/npm-debug.log
/BE_API/yarn-error.log
/BE_API/.idea
/BE_API/.vscode

/FE/node_modules
/FE/.nuxt
/FE/dist
/FE/.env
/FE/.env.local
/FE/.env.development.local
